<style>
  body {
    font-family: sans-serif;
    font-size: 16px;
  }
  p.gated {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    display: inline-block;
  }
</style>

<div>
<!-- start content -->
  {{ content | safe }}
<!-- end content -->
</div>
