---
layout: default.njk
permalink: /login/index.html
eleventyExcludeFromCollections: true
---

<p>Enter your email to confirm you're a subscriber.</p>
<p><span>Your email will not be recorded.</span></p>

{% include '_includes/buttondown-form.njk' %}
