---
layout: default.njk
permalink: /redirection-example/index.html
eleventyExcludeFromCollections: true
---

<h1>Hello, world!</h1>

<p>If you can see this page, you are logged in. Otherwise you should be redirected to the login page.</p>

<p><a href="/">Go home</a></p>
