---
layout: default.njk
permalink: /success/index.html
eleventyExcludeFromCollections: true
---

{% edge "njk, md" %}
  {% if isRegular or isPremium %}
    <p>Confirmed! You're a subscriber!</p>
    <p>You have access to free subscriber-only content.</p>
    {% if isPremium %}
      <p>You also have access to paid premium content.</p>
    {% endif %}
    {% if return_to %}
        <a href="{{return_to | escape}}">Continue</a>
    {% else %}
        <a href="/">Continue to home</a>
    {% endif %} 
  {% else %}
     <p>Whoops! You found this page but haven't logged in!
      {% if return_to %}
        <a href="/login/?r={{ return_to | escape }}">Log in here.</a>
      {% else %}
        <a href="/login/">Log in here.</a>
      {% endif %}
  {% endif %}
{% endedge %}
